@import "../globals";
@import "../ultilities";

.client
{
   margin-top: 100px;
   height: 50vh;

   &__heading
   {
      text-align: center;
      margin-bottom: 64px;

      &__one
      {
         font-weight: 300;
         line-height: 10px;
      }

      &__two
      {
         font-size: 45px;
         line-height: 55px;
         font-weight: 500;
      }

      &__three
      {
         font-size: 45px;
         line-height: 55px;
         font-weight: 500;
         color: $color--primary;
      }

   }

   &__title
   {
      display: flex;
      padding: 0 15%;

      &__content
      {
         width: 50%;

         display: flex;

         &__icon
         {
             font-size: 45px;
             color: $color--primary;

         }
         &__para
         {
            width: 70%;
            margin-left: 5%;

            &__one
            {
               font-size: 24px;
               line-height: 32px;
               font-weight: 500;
               margin-bottom: 16px;
            }

            &__two
            {
               color:$color--font;
               margin-bottom: 25px;
            }

            &__three
            {
               font-weight: 600;
               font-size: 20px;
            }

            &__four
            {
               margin-bottom: 16px;
               color: $color--primary;

            }

            &__five
            {
              &__img
              {
               border-radius: 50%;
              }
            }
         }
      }
   }
}